

.container-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    transition: all 0.2s ease;
}

.loading-logo{
    border: 15px solid #ccc;
    border-top-color: rgb(10, 143, 143);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    animation: rotation 1.5s linear infinite;
    position: absolute;
    top: 67px;
}

#please-wait{
    height: 300px;
    margin: auto;
    color: white;
}

.hidden{
    display: none;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } 
    to {
        transform: rotate(360deg);
    }
}